.footerBlock {
    height: 100vh;
    background-color: #f6a146;
}

.footerContainer {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.smth {
    border: 1px solid black;
    height: 80px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.smth2 {
    width: 85px;
    height: 80px;
    background-color: #e17800;
}